<footer class="bg-white py-12 lg:py-20 px-4 sm:px-6 lg:px-8" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto  sm:max-w-3xl lg:max-w-7xl">
    <div class="md:flex space-y-12 md:space-y-0 md:space-x-24 justify-between">
      <div class="max-w-sm">
        <a href="{{ "/" | relURL }}">
          <img class="h-10 w-auto" src="{{ .Site.Params.logo | absURL }}" width="170" height="36" alt="{{ .Site.Title }}" />
        </a>
        <p class="text-gray-800 text-base mt-5">{{ .Site.Copyright }}</p>
        <div class="flex space-x-6 mt-6">
          {{ range .Site.Menus.social }}
            <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer" class="text-gray-800 hover:text-blue-600">
              <span class="sr-only">{{ .Name }}</span>
              {{ $icon := printf "%s%s%s" "icons/" .Pre ".svg" }}
              {{ if templates.Exists (printf "%s%s" "partials/" $icon ) }}
                {{ partial $icon }}
              {{ end }}
            </a>
          {{ end }}
        </div>
      </div>
      <div class="flex space-x-24">
        {{ range .Site.Menus.footer }}
          <div>
            <h3 class="text-base font-bold text-gray-900 tracking-wider">{{ .Name }}</h3>
            {{ if .HasChildren }}
              <ul class="mt-4 space-y-4">
                {{ range .Children }}
                  <li>
                    <a href="{{ .URL }}" class="text-base text-gray-800 hover:text-blue-600"> {{ .Name }} </a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</footer>