<div class="z-10 sticky top-0" style="background-color: {{ if .Params.navbar.background }}{{ .Params.navbar.background }}{{ else }}#181818{{ end }}">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-7xl py-7">
      <div class="flex items-center justify-between lg:justify-start lg:space-x-10">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a href="{{ "/" | relURL }}" class="flex items-center space-x-3 font-bold text-3xl leading-none">
            <img class="h-10 w-auto" src="{{ if eq .Params.navbar.color "dark" }}{{ .Site.Params.logo_dark | absURL }}{{ else }}{{ .Site.Params.logo_light | absURL }}{{ end }}" alt="{{ .Site.Title }}" />
          </a>
        </div>
        <div class="flex items-center">
          <button
            @click="mobile = ! mobile"
            type="button"
            class="inline-flex items-center justify-center focus:outline-none 
            {{ if eq .Params.navbar.color "dark" }}text-whale-regular hover:text-whale-light{{ else }}text-sand-regular hover:text-white{{ end }}"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle main menu</span>
            <svg class="h-10 w-10" viewBox="0 0 97 66" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                <g transform="matrix(2.66667,0,0,2.66667,-2821.08,-12097.1)">
                    <rect x="1057.9" y="4536.4" width="36.055" height="4.2" style="fill:currentColor"/>
                </g>
                <g transform="matrix(2.66667,0,0,2.66667,-2821.08,-12042.4)">
                    <rect x="1057.9" y="4526.16" width="36.055" height="4.2" style="fill:currentColor"/>
                </g>
                <g transform="matrix(2.66667,0,0,2.66667,-2821.08,-11987.8)">
                    <rect x="1057.9" y="4515.91" width="36.055" height="4.2" style="fill:currentColor"/>
                </g>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>