<div
	:class="{ 'right-0 z-10': mobile, '-right-[36rem] z-0': !(mobile) }"
	class="z-10 transition-all h-full fixed top-0 bottom-0 -right-[36rem] bg-[#111111] w-full sm:w-[36rem] overflow-y-scroll"
>
	<div class="overflow-hidden">
		<div class="flex justify-between lg:justify-start lg:space-x-10 p-6 sm:p-12">
			<div class="flex justify-start lg:w-0 lg:flex-1">
				<a href="{{ "/" | relURL }}">
					<span class="sr-only">{{ .Site.Title }}</span>
					<img class="h-12 sm:h-16 w-auto" src="{{ .Site.Params.logo_footer | absURL }}" width="60" height="60" alt="{{ .Site.Title }}" />
				</a>
			</div>
			<div class="flex items-center">
				<button
					@click="mobile = ! mobile"
					type="button"
					class="inline-flex items-center justify-center text-sand-regular hover:text-white focus:outline-none"
					aria-expanded="false"
				>
					<span class="sr-only">Toggle main menu</span>
					<svg
						class="h-14 w-14"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						aria-hidden="true"
					>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
			</div>
		</div>
		<div class="space-y-1 px-6 sm:px-12">
			{{ $currentPage := . }}
			{{ range .Site.Menus.navbar }}
					<a href="{{ .URL }}" class="block py-2 sm:py-3.5 {{ if $currentPage.HasMenuCurrent "navbar" . }}font-bold{{ else }}font-semibold{{ end }} hover:underline text-white text-4xl sm:text-[3.25rem]" 
					{{ if in .URL "http" }} target="_blank"{{ end }}>{{ .Name }}</a>
			{{ end }}
		</div>
		<div class="flex space-x-10 p-6 sm:p-12 items-center justify-end">
			{{ range .Site.Menus.social }}
				<a href="{{ .URL }}" target="_blank" rel="noopener noreferrer" class="text-sand-regular hover:text-white">
					<span class="sr-only">{{ .Name }}</span>
					{{ $icon := printf "%s%s%s" "icons/" .Pre ".svg" }}
					{{ if templates.Exists (printf "%s%s" "partials/" $icon ) }}
						{{ partial $icon }}
					{{ end }}
				</a>
			{{ end }}
		</div>
	</div>
</div>