<div
	:class="{ 'right-0': mobile, '-right-[20rem]': !(mobile) }"
	class="z-10 transition-all h-full fixed top-0 bottom-0 -right-[20rem] bg-blue-800"
>
	<div class="overflow-hidden">
		<div class="flex items-center justify-between lg:justify-start lg:space-x-10">
			<div class="flex justify-start lg:w-0 lg:flex-1">
				<a href="{{ "/" | relURL }}">
					<span class="sr-only">{{ .Site.Title }}</span>
					<img class="h-10 w-auto" src="{{ .Site.Params.logo | absURL }}" width="185" height="64" alt="{{ .Site.Title }}" />
				</a>
			</div>
			<div class="flex items-center">
				<button
					@click="mobile = ! mobile"
					type="button"
					class="inline-flex items-center justify-center text-brand-980 hover:text-brand-600 focus:outline-none"
					aria-expanded="false"
				>
					<span class="sr-only">Toggle main menu</span>
					<svg
						:class="{ 'hidden': mobile, 'block': !(mobile) }"
						xmlns="http://www.w3.org/2000/svg"
						class="h-8 w-8"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						stroke-width="2"
					>
						<path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h8m-8 6h16" />
					</svg>
					<svg
						:class="{ 'block': mobile, 'hidden': !(mobile) }"
						class="hidden h-8 w-8"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						aria-hidden="true"
					>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
			</div>
		</div>
		<div class="space-y-1 p-4 sm:p-6">
			{{ $currentPage := . }}
			{{ range .Site.Menus.navbar }}
				{{ if .HasChildren }}
					<div x-data="{ accordion: false }">
						<a
							href="#"
							class="flex items-center rounded-xl px-4 py-3 text-lg font-medium text-brand-980 hover:text-brand-600 hover:bg-brand-50"
							@click.prevent="accordion = ! accordion"
						>
							<span class="flex-1">{{ .Name }}</span>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								:class="{ 'rotate-90': accordion, 'transform-none': !(accordion) }"
								class="h-6 w-6"
								viewBox="0 0 20 20"
								fill="currentColor"
							>
								<path
									fill-rule="evenodd"
									d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
									clip-rule="evenodd"
								/>
							</svg>
						</a>
						<div x-show="accordion" :class="{ 'block': accordion, 'hidden': !(accordion) }">
							{{ range .Children }}
								<a href="{{ .URL }}" class="ml-4 flex items-center group rounded-xl px-4 py-3 {{ if $currentPage.HasMenuCurrent "navbar" . }}text-brand-600{{ else }}text-brand-980{{ end }} hover:text-brand-600 hover:bg-brand-50">
									{{ if .Pre }}
										<div class="text-brand-980 flex-shrink-0 mr-2.5 group-hover:text-brand-600">
											{{ $icon := printf "%s%s%s" "icons/" .Pre ".svg" }}
											{{ if templates.Exists (printf "%s%s" "partials/" $icon ) }}
												{{ partial $icon }}
											{{ end }}                                  
										</div>
									{{ end }}
											
									<span class="text-lg font-medium">{{ .Name }}</span>
								</a>
							{{ end }}
						</div>
					</div>
				{{ else }}
					<a href="{{ .URL }}" class="block rounded-xl px-4 py-3 text-lg font-medium {{ if $currentPage.HasMenuCurrent "navbar" . }}text-brand-600{{ else }}text-brand-980{{ end }} hover:text-brand-600 hover:bg-brand-50" 
					{{ if in .URL "http" }} target="_blank"{{ end }}>{{ .Name }}</a>
				{{ end }}
			{{ end }}
		</div>
		<div class="flex space-x-6 mt-6">
			{{ range .Site.Menus.social }}
				<a href="{{ .URL }}" target="_blank" rel="noopener noreferrer" class="text-gray-800 hover:text-blue-600">
					<span class="sr-only">{{ .Name }}</span>
					{{ $icon := printf "%s%s%s" "icons/" .Pre ".svg" }}
					{{ if templates.Exists (printf "%s%s" "partials/" $icon ) }}
						{{ partial $icon }}
					{{ end }}
				</a>
			{{ end }}
		</div>
	</div>
</div>