<div class="relative px-4 sm:px-6 lg:px-8 
  {{ if eq .padding "top" }}pt-20 lg:pt-24{{ else if eq .padding "bottom" }}pb-20 lg:pb-24{{ else }}py-20 lg:py-24{{ end }} 
  {{ if eq .color "light" }}text-white {{ else if eq .color "muted" }}text-sand-regular{{ else }}text-whale-regular{{ end }}"{{ with .background }} style="background: {{ . }}"{{ end }}>
  <div class="mx-auto max-w-6xl">
    <div class="grid md:grid-cols-3 gap-10 md:gap-14 items-center">
      <div>
        {{ if .image }}
          <img class="w-full" src="{{ .image | absURL }}" alt="{{ .heading }}">
        {{ end }}
      </div>
      <div class="md:col-span-2">
        <h2 class="text-4xl font-bold leading-tight sm:text-[2.6875rem]">{{ .heading }}</h2>
        {{ with .text }}
          <div class="mt-4 mx-auto font-serif text-2xl sm:text-3xl leading-snug sm:leading-snug">{{ . | markdownify }}</div>
        {{ end }}
        {{ with .link }}
          <div class="mt-4">
            <a href="{{ .url | relURL }}" class="inline-block font-serif text-2xl sm:text-3xl underline italic font-semibold hover:opacity-80">{{ .text }}</a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>