<div class="relative px-4 sm:px-6 lg:px-8 
  {{ if eq .padding "top" }}pt-20 lg:pt-24{{ else if eq .padding "bottom" }}pb-20 lg:pb-24{{ else }}py-20 lg:py-24{{ end }} 
  {{ if eq .color "light" }}text-white {{ else if eq .color "muted" }}text-sand-regular{{ else }}text-whale-regular{{ end }}"{{ with .background }} style="background: {{ . }}"{{ end }}>
  <div class="mx-auto max-w-3xl lg:max-w-6xl">
    <div class="grid grid-cols-1 gap-14 xl:gap-24 lg:grid-cols-2">
      {{ range .cards }}
        <div>
          {{ if .image }}
            <img src="{{ .image | absURL }}" alt="{{ .heading }}" class="mb-9">
          {{ end }}
          {{ with .superheading }}
            <h2 class="text-2xl font-bold leading-tight sm:leading-none sm:text-3xl text-rose-regular mb-2">{{ . }}</h2>
          {{ end }}
          <h3 class="font-serif font-semibold text-4xl sm:text-5xl leading-[1.15] sm:leading-[1.15]">{{ .heading }}</h3>
          {{ with .text }}
            <div class="mt-4 mx-auto font-serif text-xl sm:text-2xl leading-snug sm:leading-snug">{{ . | markdownify }}</div>
          {{ end }}
          {{ with .link }}
            <div class="mt-4">
              <a href="{{ .url | relURL }}" class="inline-block font-serif text-xl sm:text-2xl underline italic font-semibold hover:opacity-80">{{ .text }}</a>
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</div>