<div class="relative px-4 sm:px-6 lg:px-8 
  {{ if eq .padding "top" }}pt-20 lg:pt-24{{ else if eq .padding "bottom" }}pb-20 lg:pb-24{{ else }}py-20 lg:py-24{{ end }} 
  {{ if eq .color "light" }}text-white {{ else if eq .color "muted" }}text-[#686867]{{ else }}text-whale-regular{{ end }}"{{ with .background }} style="background: {{ . }}"{{ end }}>
  <div class="mx-auto max-w-7xl">
    <div class="max-w-5xl">
      <h1 class="text-5xl sm:text-6xl font-bold leading-none sm:leading-none md:leading-none md:text-[5rem]">{{ .heading }}</h1>
      {{ if .text }}
        <div class="mt-6 font-serif text-3xl sm:text-[3.4169rem] leading-[1.3] sm:leading-[1.2] 
          {{ if eq .color "light" }}text-sand-regular{{ else }}text-muted-regular{{ end }}">{{ .text | markdownify }}</div>
      {{ end }}
    </div>
  </div>
</div>