<div class="relative px-4 sm:px-6 lg:px-8 
  {{ if eq .padding "top" }}pt-20 lg:pt-24{{ else if eq .padding "bottom" }}pb-14 lg:pb-20{{ else }}pt-20 pb-14 lg:py-24{{ end }}  
  {{ if eq .color "light" }}text-white {{ else if eq .color "muted" }}text-[#686867]{{ else }}text-whale-regular{{ end }}"{{ with .background }} style="background: {{ . }}"{{ end }}>
  <div class="mx-auto {{ if eq .container "small" }}max-w-4xl{{ else }}max-w-8xl{{ end }}">
    {{ with .heading }}
      <h2 class="text-xl uppercase font-bold text-center mb-5">{{ . }}</h2>
    {{ end }}
    <div class="flex flex-wrap justify-between items-center">
      {{ range .logos }}
        <div class="p-6">
          <img src="{{ .image | absURL }}" alt="{{ .alt }}" />
        </div>
      {{ end }}
    </div>
  </div>
</div>