<div class="relative px-4 sm:px-6 lg:px-8 
  {{ if eq .padding "top" }}pt-20 lg:pt-24{{ else if eq .padding "bottom" }}pb-20 lg:pb-24{{ else }}py-20 lg:py-24{{ end }} 
  {{ if eq .color "light" }}text-white {{ else if eq .color "muted" }}text-sand-dark{{ else }}text-whale-regular{{ end }}"{{ with .background }} style="background: {{ . }}"{{ end }}>
  <div class="mx-auto max-w-8xl">
    <div class="lg:pr-40">
      <figure>
          <blockquote cite="https://www.huxley.net/bnw/four.html">
              <p class="text-5xl sm:text-6xl font-bold leading-none sm:leading-none md:leading-none md:text-[4.5831rem]">“{{ .quote }}”</p>
          </blockquote>
          {{ with .author }}
            <figcaption class="mt-8 sm:mt-12 font-serif leading-snug text-[1.3331rem]"><cite>{{ . }}</cite></figcaption>
          {{ end }}
      </figure>
    </div>
  </div>
</div>